body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.header {
  background-color: #2a3d75;
  color: white;
  padding: 20px;
  text-align: center;
}

.container {
  margin: 40px auto;
  width: 90%;
  max-width: 1200px;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
}

.dashboard-heading {
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
}

.action-buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.button {
  background-color: #2a3d75;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin: 10px;
}

.button:hover {
  background-color: #1d2c5a;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.messages-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  text-align: center;      /* Ensures the text is centered */
  margin: 20px 0;          /* Adds some space around the messages */
}
.messages.success {
  background-color: #dff0d8;
  color: #3c763d;
}
.messages.error {
  background-color: #f2dede;
  color: #a94442;
}

.alert {
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: #d4edda;  /* Default to success color */
  color: #155724;
  border: 1px solid #c3e6cb;
}

.alert.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 20px;
}

.alert.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 20px;
}

.alert .icon {
  margin-right: 10px;
  font-size: 1.5em;
}

.modal-footer button {
  margin: 0 10px;
}